<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/sytle.css">
        <script src="/js/app.js"></script>
    </head>

    <body>
        <div class="main-content">
            {{>header}} 
            <p>Contact me with this adress https://github.com/TofigBakhshiyev</p>
        </div>
        
        {{>footer}}
    </body>
</html>