<!DOCTYPE html>

<html>
    <head>
        <title>Weather Forecasting</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/sytle.css">
    </head>

    <body> 
        <div class="main-content">
            {{>header}} 
            <p>Get your weather</p>
            <form>
                <input placeholder="Your location">
                <button>Search</button>
            </form>
            <div class="messageArea">
                <p id="error"></p>
                <p id="message"></p> 
            </div> 
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>